#habitsScrollArea QWidget {
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
}

#habitsWidget {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid black;
    border: 2px solid  #BC4A3C;
    background-color: white;
}

#habitsWidget QPushButton {
    background-color: #BC4A3C;
    font: Comic Sans;
    font-size: 10pt;

    border: 1px solid  #8c372c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#habitsWidget QPushButton::hover {
    background-color: #df877c;
}
